.container-hero {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 1000px;
    margin-top: 5rem;
    z-index: 1;
}

button {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    border: none;
    font-size: 1rem;
    
}
.mac-btn {
    background-color: white;
    color: black;
}
.discord-btn {
    background-color: black;
    color: white;
}